/* Importar la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Estilos globales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Comportamiento de desplazamiento suave */
    font-family: 'Poppins', sans-serif; /* Fuente predeterminada para todo el documento */
}

/* Estilos para el cuerpo del documento */
body {
    background: url(/assest/img/Fondo-foto-flores.avif) no-repeat; /* Fondo de la página */
    display: flex; /* Flexbox para el diseño */
    min-height: 100vh; /* Altura mínima para ocupar la pantalla completa */
    flex-direction: column; /* Organizar elementos en columna */
    background-repeat: no-repeat; /* Evitar repetición del fondo */
    background-size: cover; /* Cubrir el área completa del fondo */
}

/* Estilos para el encabezado */
header {
    position: fixed; /* Fijar el encabezado en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    padding: 5px 30px; /* Relleno interno */
    background: linear-gradient(135deg, rgba(0, 114, 255, 0.8), rgba(0, 198, 255, 0.8)); /* Degradado lineal como fondo */
    display: flex; /* Flexbox para el diseño */
    justify-content: space-between; /* Distribuir el espacio entre elementos */
    align-items: center; /* Centrar elementos verticalmente */
    z-index: 100; /* Capa z para estar por encima de otros elementos */
    gap: 30px; /* Espacio entre elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para el logotipo */
.logo {
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    pointer-events: none; /* Deshabilitar eventos de puntero */
}

/* Estilos para los enlaces de navegación */
.navigation a {
    position: relative;
    font-size: 20px;
    color: #0b0101;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px; /* Espacio a la izquierda */
}

/* Estilos para los enlaces de navegación al pasar el mouse */
header nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cambiar color de fondo al pasar el mouse */
}

/* Efecto de línea debajo de los enlaces de navegación */
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1); /* Ancho completo al pasar el mouse */
}

/* Estilos para el botón de cierre de sesión */
.navigation .logout {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s; /* Transición suave al cambiar propiedades */
}

.navigation .logout:hover {
    background: white;
    color: #162938; /* Cambiar color al pasar el mouse */
}

/* Estilos para el contenido principal */
main {
    max-width: 800px; /* Ancho máximo del contenido principal */
    margin: 20px auto; /* Margen exterior automático */
    padding: 20px; /* Relleno interno */
}

/* Estilos para las secciones */
section {
    margin-bottom: 30px; /* Margen inferior */
}

/* Estilos para los artículos */
article {
    margin-bottom: 20px; /* Margen inferior */
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    padding-bottom: 20px; /* Relleno inferior */
}

/* Estilos para encabezados */
h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px; /* Margen inferior */
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    z-index: 100; /* Capa z para estar por encima de otros elementos */
    gap: 40px; /* Espacio entre elementos */
    position: relative;
    padding: 40px 50px; /* Relleno interno */
    margin-top: 50px; /* Margen superior */
}


/* Estilos para encabezados h2 */
h2 {
    text-align: center; /* Alinear texto al centro */
    color: #ffffff; /* Color del texto (blanco en este caso) */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para párrafos */
p {
    line-height: 1.6; /* Altura de línea (espaciado entre líneas) */
    color: #ffffff; /* Color del texto (blanco en este caso) */
    text-align: center; /* Alinear texto al centro */
}


/* Estilos para el pie de página (footer) */
footer {
    position: fixed; /* Establece la posición fija en la parte inferior */
    bottom: 0;
}

/* Media query para alturas máximas de 800px */
@media (max-height: 800px) {
    footer {
        position: static; /* Establece la posición estática cuando la altura es menor o igual a 800px */
    }
    header {
        padding-top: 40px; /* Ajusta el relleno superior del encabezado */
    }
}

/* Estilos para el pie de página distribuido (footer-distributed) */
.footer-distributed {
    background-color: #2d2a30; /* Color de fondo */
    box-sizing: border-box;
    width: 100%; /* Ancho del 100% */
    text-align: left; /* Alineación del texto a la izquierda */
    font: bold 16px sans-serif; /* Fuente en negrita de 16px sin serifas */
    padding: 50px 50px 60px 50px; /* Relleno interno del pie de página */
    margin-top: 80px; /* Margen superior */
}

/* Estilos para las secciones del pie de página (footer-left, footer-center, footer-right) */
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Estilos para la parte izquierda del pie de página (footer-left) */
.footer-distributed .footer-left {
    width: 30%; /* Ancho del 30% */
}

/* Estilos para los títulos del pie de página (footer-distributed h3) */
.footer-distributed h3 {
    color: #ffffff; /* Color del texto */
    font: normal 36px 'Cookie', cursive; /* Fuente del título */
    margin: 0; /* Elimina el margen */
}

/* Estilos para partes resaltadas del título del pie de página (footer-distributed h3 span) */
.footer-distributed h3 span {
    color: #e0ac1c; /* Color amarillo */
}

/* Estilos para los enlaces del pie de página (footer-links) */
.footer-distributed .footer-links {
    color: #ffffff; /* Color del texto */
    margin: 20px 0 12px; /* Margen */
    text-align: left;
}

/* Estilos para los enlaces del pie de página (footer-links a) */
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Hereda el color del texto */
}

/* Estilos para el nombre de la empresa del pie de página (footer-company-name) */
.footer-distributed .footer-company-name {
    color: #8f9296; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: normal; /* Peso de la fuente */
    margin: 0; /* Elimina el margen */
    text-align: left;
}

/* Estilos para la parte central del pie de página (footer-center) */
.footer-distributed .footer-center {
    width: 35%; /* Ancho del 35% */
}

/* Estilos para los íconos en el pie de página (footer-center i) */
.footer-distributed .footer-center i {
    background-color: #33383b; /* Color de fondo del ícono */
    color: #ffffff; /* Color del ícono */
    font-size: 25px; /* Tamaño de fuente del ícono */
    width: 38px; /* Ancho del ícono */
    height: 38px; /* Altura del ícono */
    border-radius: 50%; /* Radio de borde del ícono (forma circular) */
    text-align: center; /* Alineación del texto al centro */
    line-height: 42px; /* Altura de línea */
    margin: 10px 15px; /* Margen */
    vertical-align: middle; /* Alineación vertical */
}

/* Estilos para el ícono del sobre en el pie de página (footer-center i.fa-envelope) */
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px; /* Tamaño de fuente */
    line-height: 38px; /* Altura de línea */
}

/* Estilos para los párrafos en el pie de página (footer-center p) */
.footer-distributed .footer-center p {
    display: inline-block; /* Mostrar como bloque en línea */
    color: #ffffff; /* Color del texto */
    vertical-align: middle; /* Alineación vertical */
    margin: 0; /* Elimina el margen */
    text-align: left;
}

/* Estilos para partes resaltadas en los párrafos del pie de página (footer-center p span) */
.footer-distributed .footer-center p span {
    display: block; /* Mostrar como bloque */
    font-weight: normal; /* Peso de la fuente normal */
    font-size: 14px; /* Tamaño de fuente */
    line-height: 2; /* Altura de línea */
}

/* Estilos para los enlaces en los párrafos del pie de página (footer-center p a) */
.footer-distributed .footer-center p a {
    color: #e0ac1c; /* Color amarillo */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para la parte derecha del pie de página (footer-right) */
.footer-distributed .footer-right {
    width: 30%; /* Ancho del 30% */
}


/* Estilos para la sección "footer-company-about" */
.footer-distributed .footer-company-about {
    line-height: 20px; /* Altura de línea */
    color: #92999f; /* Color del texto */
    font-size: 13px; /* Tamaño de fuente */
    font-weight: normal; /* Peso de la fuente */
    margin: 0; /* Elimina el margen */
    text-align: left;
}

/* Estilos para partes resaltadas dentro de "footer-company-about" */
.footer-distributed .footer-company-about span {
    display: block; /* Mostrar como bloque */
    color: #ffffff; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente en negrita */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para la sección "footer-icons" */
.footer-distributed .footer-icons {
    margin-top: 25px; /* Margen superior */
}

/* Estilos para los íconos en "footer-icons" */
.footer-distributed .footer-icons a {
    display: inline-block; /* Mostrar como bloque en línea */
    width: 35px; /* Ancho */
    height: 35px; /* Altura */
    cursor: pointer; /* Cursor al pasar sobre el ícono */
    background-color: #33383b; /* Color de fondo */
    border-radius: 2px; /* Radio de borde */
    font-size: 20px; /* Tamaño de fuente */
    color: #ffffff; /* Color del ícono */
    text-align: center; /* Alineación del texto */
    line-height: 35px; /* Altura de línea */
    margin-right: 3px; /* Margen derecho */
    margin-bottom: 5px; /* Margen inferior */
}

/* Estilos al pasar el ratón sobre los íconos */
.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para los enlaces al pasar el ratón sobre ellos */
.footer-links a:hover {
    color: #3F71EA; /* Cambia el color del texto al pasar el ratón */
}

/* Media query para anchos máximos de 880px */
@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block; /* Mostrar como bloque */
        width: 100%; /* Ancho del 100% */
        margin-bottom: 40px; /* Margen inferior */
        text-align: center; /* Alineación del texto al centro */
    }
    .footer-distributed .footer-center i {
        margin-left: 0; /* Establece el margen izquierdo a cero */
    }
}